{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recidivism</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
</head>
<body>
{% if mode == 1 %}
    {% if value == 0 %}
            <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2 style="color:#1eff00;">not going to crime again </h2>
        </div>
      </div>
    </section>
            </main>

        {% elif value == 1 %}

       <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2 style="color:#ff0000;"> going to crime again </h2>
        </div>
      </div>
    </section>
            </main>
        {% endif %}
{% else %}
{#    <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#<input type="submit" value="Check" />#}
{#</form>#}

      <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
  <div class="auth__header text-center">
      <h3><pre style="color: red">Recidivism</pre> The Crime Tool</h3>
  </div>

                <form class="form" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label}} </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Check" />
                </form>
            </div>
        </div>
    </main>

{% endif %}
</body>
</html>